<!-- forgotPassword.ejs -->
<%- include('layout/header') %>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&display=swap">

<section class="vh-100" style="background-color: #BCE0F5;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 0;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Set your Password here</h3>
                        <form action="/forgetpassword" method="post">
                            
                            <div class="form-outline mb-4">
                                <input placeholder="email" type="email" name="email" id="typeEmailX-2" class="form-control form-control-lg" style="border-radius: 0;" />
                               

                                <small id="emailError" style="color: red; display: none;">Email is required</small>
                            </div>
                            <button class="btn btn-primary btn-lg btn-block w-100" style="background-color: #45A8E1;border-radius: 0;" type="submit">Submit</button>
                        </form>
                        <% 
                        if(typeof message !== 'undefined'){ 
                          %>
                          <p style="color: green;"><%= message%> </p>
                          <%
                        }
                        %>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('layout/footer') %>

