<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="filter-option">
    <h5>Colors</h5>
    <ul>
        <li><input type="checkbox" id="colorRed" name="color" value="red">
            <label for="colorRed">Red</label></li>
        <li><input type="checkbox" id="colorBlue" name="color" value="blue">
            <label for="colorBlue">Blue</label></li>
        <li><input type="checkbox" id="colorWhite" name="color" value="white">
            <label for="colorWhite">White</label></li>
        <li><input type="checkbox" id="colorBlack" name="color" value="black">
            <label for="colorBlack">Black</label></li>
        <li><input type="checkbox" id="colorYellow" name="color" value="yellow">
            <label for="colorYellow">Yellow</label></li>
        <li><input type="checkbox" id="colorGreen" name="color" value="green">
            <label for="colorGreen">Green</label></li>
        <!-- Add more color options -->
    </ul>
</div>
<hr>

<!-- Brands filter -->
<div class="filter-option">
    <h5>Brands</h5>
    <ul>
        <li><input type="checkbox" id="brand1" name="brand" value="Glamour">
            <label for="brand1">Glamour</label></li>
        <li><input type="checkbox" id="brand2" name="brand" value="Adidas">
            <label for="brand2">Adidas</label></li>
        <!-- <li><input type="checkbox" id="brand3" name="brand" value="hm">
            <label for="brand3">H & M</label></li>
        <li><input type="checkbox" id="brand4" name="brand" value="roadster">
            <label for="brand4">Roadster</label></li> -->
        <!-- Add more brand options -->
    </ul>
</div>
<hr>

<!-- Price Range filter -->
<div class="filter-option">
    <h5>Price Range</h5>
    <ul>
        <li><input type="checkbox" id="pricerange1" name="price" value="one">
            <label for="pricerange1">100 to 999</label></li>
        <li><input type="checkbox" id="pricerange2" name="price" value="two">
            <label for="pricerange2">999 to 1999</label></li>
        <!-- Add price range inputs, sliders, or dropdowns -->
    </ul>
</div>

<!-- Add more filter options as needed -->
<!-- Update the script in your HTML file -->





</body>
</html>

<!-- Colors filter -->
