<header class="main-header navbar">
    <div class="col-search">
    </div>
    <div class="col-nav">
        <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                class="material-icons md-apps"></i>
        </button>
        <ul class="nav">
            <li class="nav-item">
                
               <a href="/user/login"><button class="btn logout-btn">Logout</button></a>
               
            </li>
        </ul>
    </div>
</header>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const sidebarToggle = document.querySelector('.btn-mobile');
    const offcanvasAside = document.querySelector('#offcanvas_aside');

    sidebarToggle.addEventListener('click', function () {
      offcanvasAside.classList.toggle('show');
    });
  });
</script>
